# =====================
# Node / React
# =====================
node_modules/
admin/my-app/node_modules/
admin/my-app/build/

# =====================
# Environment files
# =====================
.env
**/.env

# =====================
# Uploads / temp
# =====================
backend/uploads/
tmp/
temp/

# =====================
# Logs
# =====================
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

# =====================
# IDE / Editor
# =====================
.vscode/
.idea/
*.sublime-workspace
*.sublime-project